<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag"><title>Canes</title>
    </head>
    <body>

        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>

        <div class="container" >            
            <!-- Header -->
            <form  th:object="${camper}" action="addSubmit (Not used)" th:action="@{/camper/addSubmit}" method="get">
                <div class="container" >
                    <div><h1>
                        About
                        </h1>
                    </div>
                    <div>
                        <p class="info" th:if="${weatherDescription != null}" th:text="${weatherDescription}"></p>
                    </div>



                </div>
            </form>
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>
</html>